<!doctype html> 
<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <link rel="shortcut icon" href="assets/graphics/meta/favicon.ico" type="image/x-icon" />
  <title>Project Starter</title>
  
  <!-- build:css assets/styles/vendor.css -->
  <!-- endbuild -->

  <!-- build:css assets/styles/main.css -->
  <link rel="stylesheet" href="assets/styles/main.css">
  <!-- endbuild -->
  <link rel="author" type="text/plain" href="humans.txt" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>
<body ng-app="myApp"  ng-controller="womenController">


  <form class="form" style="width: 50%; float: left;padding: 1%; border: 2px solid black; border-radius: 6px">
  <h3>REGISTER A NEW WOMAN</h3>
    <fieldset class="form__fieldset">
      <div class="form__group">
        <label class="form__label" for="form-name">Input name</label>
        <input type="text" ng-model="name" class="form__control form__control--medium" id="form-name" name="form-name" placeholder="This is a placeholder" />
      </div>

      <div class="form__group">
        <label class="form__label" for="form-email">Input email</label>
        <input type="email" ng-model="email" class="form__control form__control--medium" id="form-email" name="form-email" placeholder="This is a placeholder" />

      </div>
      <div class="form__group">
        <label class="form__label" for="form-topic">Input topic</label>
        <input type="topic" ng-model="topic" class="form__control form__control--medium" id="form-topic" name="form-topic" placeholder="This is a placeholder" />

      </div>
      <div class="form__group">
        <label class="form__label" for="form-linkedin">Input linkedin</label>
        <input type="linkedin" ng-model="linkedin" class="form__control form__control--medium" id="form-linkedin" name="form-linkedin" placeholder="This is a placeholder" />

      </div>
      <div class="form__group">
        <label class="form__label" for="form-pictureUrl">Input picture_url</label>
        <input type="pictureUrl" ng-model="pictureUrl" class="form__control form__control--medium" id="form-pictureUrl" name="form-pictureUrl" placeholder="This is a placeholder" />

      </div>
     </fieldset>
      <button type="button" ng-click="sendDataUser()">Send</button> 
    </form>
 


 <div style="float: left; padding: 1%">
    <ul ng-repeat="woman in datas.data">
      <li>Name: {{woman.name}}</li>
      <li>Email: {{woman.email}}</li>
      <li>Topic: {{woman.topic}}</li>
      <li>Linkedin: <a href="{{woman.linkedin}}"></a></li>
      <li><img src="{{woman.picture_url}}"></img></li>

    </ul>
  </div>

  <!-- build:js assets/scripts/vendor.js -->
  <script src="assets/scripts/vendor.js"></script>
  <!-- endbuild -->
  <!-- build:js assets/scripts/bundle.js -->
  <script src="assets/scripts/bundle.js"></script>
  <!-- endbuild -->
</body>
</html>